/*학원선택페이지*/


.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #384246;
  border-color: #384246;
}

.my_container {
  margin-top: 50px;
}

.navbar-side {
  display:flex;
  flex-flow : row nowrap;
  justify-content: space-between;
  margin: 0px 30px;
}

#campus-select {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 80px;
}
/*dashboard*/
.table-parent {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between
}
.table-child {
  width:300px;
}
/*buttons*/
.submit-btn {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}
