/*all*/
* {
  font-family: "Lato", "SpoqaHanSans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.content-margin {
  margin-top: 50px;
}

.select2-container--default .select2-selection--multiple{
  margin-bottom: 15px;
}

.select2-container--default .select2-selection--single {
  margin-bottom: 15px;
}
/*app.blade.php*/

.dropdown > a {
  font-size: 15.5px;
}
.dropdown-menu>li>a {
  font-size: 15.5px;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #384246;
  border-color: #384246;
}

.navbar-side {
  display:flex;
  flex-flow : row nowrap;
  justify-content: space-between;
  margin: 0px 30px;
}

#campus-select {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 80px;
}
/*dashboard*/
.progress-bar {
  background-color: #255940;
}

/*buttons*/
.submit-btn {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.form-inline {
  display: inline;
}

/*sidebar*/
.sidebar-nav {
  font-weight: 300;
}

/*login*/
.login-body {
  background-color:#255940;
}
.login-box {
  margin-top: 25vh;
}
.new-btn {
  color: white;
  background-color: #255940 !important;
}
.btn-link {
  color: #255940 !important;
}
.logo-big {
  height: 282px;
  padding-bottom: 50px;
}
